  <div class="footer">
    <div class="container grid">
      <div class="col-12">
        <a href="http://localhost:4000/">Home</a>
        <a href="http://localhost:4000/fotos/">Fotos</a>
        <a href="http://localhost:4000/illustrations/">Ilustrações</a>
        <a href="http://localhost:4000/contato/">Contato</a>
      </div>
    </div>
  </div>

  <!--<script src="/assets/scripts/archivo.js"></script>-->
  </body>
</html>