---
layout: layouts/full.njk
title: Home
eleventyNavigation:
  key: index
  title: Home
---

<div class="home-slide">
  <h1 class="font-2 home-title">
    &lt;<span class="blink-text">l</span>acet&gt;
  </h1>
</div>
<div class="home-slide">
  <img src="/assets/images/foto-2.jpg" alt="fotografia de modelo" />
  <a href="/fotos/" class="font-1 home-subheader-white">Fotografia</a>
</div>
<div class="home-slide">
  <img src="" alt="" />
  <a href="/illustrations/" class="font-1 home-subheader">Design</a>
</div>
<div class="home-slide">
  <img src="" alt="" />
  <a href="/dev/" class="font-1 home-subheader">Dev</a>
</div>
