---
layout: layouts/base.njk
title: Home
eleventyNavigation:
  key: index
  title: Home
---
<div class="container col-12">
  <h1>Página de início</h1>
  <p>
    Página de início do projeto
  </p>
</div>